.home {
    margin: 5rem auto;
    padding: 1rem;
}

.home .container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.home .col-1 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .col-2 {
    margin: auto;
}

.home .container p:first-child {
    text-align: center;
    font-size: 6rem;
}

.home .container p:nth-child(2) {
    text-align: center;
    font-size: 2rem;
}

.home img {
    border-radius: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 70vh;
}











